Hello world

In [2]:
import pandas as pd

In [5]:
# save filepath to variable for easier access
game_players_stats_path = '../data/game_players_stats.csv'
# read the data and store data in DataFrame titled melbourne_data
game_players_stats_data = pd.read_csv(game_players_stats_path) 
# print a summary of the data in Melbourne data
game_players_stats_data.describe()

,game_id,player_id,team_id,game_length,team_kills,tower_kills,inhibitor_kills,dragon_kills,herald_kills,baron_kills,...,player_assists,total_minions_killed,gold_earned,level,total_damage_dealt,total_damage_dealt_to_champions,total_damage_taken,wards_placed,largest_killing_spree,largest_multi_kill
count,374554.000000,374554.000000,374554.000000,3.745540e+05,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,...,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000,374554.000000
mean,18729.401448,1549.469631,283.521236,2.376872e+03,13.915163,6.018486,0.895227,2.262723,0.885904,0.696305,...,6.393858,204.271643,11472.205180,14.789699,155852.709826,13792.472418,19392.803756,20.362722,1.762427,1.060029
std,10813.836519,1234.016945,222.844447,3.202794e+04,7.267931,3.618850,1.065168,1.400929,0.759774,0.741653,...,4.446742,105.844330,3389.038142,2.184600,92223.609967,8750.449083,9394.270675,18.232569,2.250181,0.833039
min,0.000000,0.000000,0.000000,8.060000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1920.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9363.000000,480.000000,86.000000,1.682000e+03,8.000000,3.000000,0.000000,1.000000,0.000000,0.000000,...,3.000000,147.000000,8911.000000,13.000000,102675.750000,7145.000000,12421.000000,10.000000,0.000000,1.000000
50%,18731.000000,1221.000000,221.000000,1.873000e+03,14.000000,7.000000,1.000000,2.000000,1.000000,1.000000,...,6.000000,220.000000,11243.000000,15.000000,158449.000000,12180.000000,17574.000000,14.000000,0.000000,1.000000
75%,28094.000000,2409.000000,449.000000,2.111000e+03,19.000000,9.000000,1.000000,3.000000,1.000000,1.000000,...,9.000000,277.000000,13635.000000,16.000000,209655.500000,18340.000000,24689.000000,21.000000,3.000000,1.000000
max,37458.000000,4952.000000,843.000000,2.793607e+06,79.000000,11.000000,10.000000,7.000000,3.000000,5.000000,...,35.000000,673.000000,31844.000000,18.000000,880083.000000,102344.000000,124663.000000,203.000000,22.000000,5.000000

In [27]:
game_players_stats_data.head()

,game_id,player_id,player_name,team_id,team_name,team_acronym,role,win,game_length,champion_name,...,player_assists,total_minions_killed,gold_earned,level,total_damage_dealt,total_damage_dealt_to_champions,total_damage_taken,wards_placed,largest_killing_spree,largest_multi_kill
0,15,0,shanji,0,Legend Esport Gaming,LEG,Top,False,1415,Irelia,...,1,179,8530,12,99007,7923,15326,8,0,1
1,15,1,Demon,1,Bilibili Gaming Junior,BLGJ,Top,True,1415,Vladimir,...,6,174,8565,14,100342,10857,16475,11,2,1
2,15,2,yanxuan,0,Legend Esport Gaming,LEG,Bot,False,1415,Kai'Sa,...,1,227,9613,12,116407,7011,5788,9,0,1
3,15,3,Viod,0,Legend Esport Gaming,LEG,Support,False,1415,Lux,...,2,19,5442,10,23555,4932,6151,25,0,0
4,15,4,HanXuan,1,Bilibili Gaming Junior,BLGJ,Mid,True,1415,Aatrox,...,4,188,10125,14,125022,10749,15481,10,3,2

In [12]:
game_players_stats_data.isna().sum()

game_id                              0
player_id                            0
player_name                          0
team_id                              0
team_name                            0
team_acronym                       290
role                                 0
win                                  0
game_length                          0
champion_name                        0
team_kills                           0
tower_kills                          0
inhibitor_kills                      0
dragon_kills                         0
herald_kills                         0
baron_kills                          0
player_kills                         0
player_deaths                        0
player_assists                       0
total_minions_killed                 0
gold_earned                          0
level                                0
total_damage_dealt                   0
total_damage_dealt_to_champions      0
total_damage_taken                   0
wards_placed                         0
largest_killing_spree                0
largest_multi_kill                   0
dtype: int64

In [ ]:
import numpy as np
# Filtrer les ADC
df_adc = game_players_stats_data[game_players_stats_data['role'] == 'Bot'].copy()

# Calculer les features dérivées
df_adc['KDA'] = (df_adc['player_kills'] + df_adc['player_assists']) / np.maximum(df_adc['player_deaths'], 1)
df_adc['gold_per_min'] = df_adc['gold_earned'] / (df_adc['game_length'] / 60)
df_adc['cs_per_min'] = df_adc['total_minions_killed'] / (df_adc['game_length'] / 60)

# Sélection des features finales
features = [
    'gold_per_min', 'cs_per_min', 'KDA', 
    'total_damage_dealt_to_champions', 'largest_killing_spree',
    'wards_placed'
]
X = df_adc[features]
y = df_adc['win'].astype(int)  # Target: 1 pour victoire, 0 pour défaite

Valeurs uniques de y : [0 1]
Valeurs manquantes dans y : 0

In [35]:
mask_anormal = (
    (df_adc['gold_per_min'] <= 100) |
    (df_adc['cs_per_min'] <= 1) |
    (df_adc['total_damage_dealt_to_champions'] <= 1000)
)
df_adc_anormal = df_adc[mask_anormal]
print(f"Nombre de lignes suspectes : {len(df_adc_anormal)}")
pd.set_option('display.max_columns', None)

df_adc_anormal.head(10)  # Affiche les 10 premières

Nombre de lignes suspectes : 154

,game_id,player_id,player_name,team_id,team_name,team_acronym,role,win,game_length,champion_name,team_kills,tower_kills,inhibitor_kills,dragon_kills,herald_kills,baron_kills,player_kills,player_deaths,player_assists,total_minions_killed,gold_earned,level,total_damage_dealt,total_damage_dealt_to_champions,total_damage_taken,wards_placed,largest_killing_spree,largest_multi_kill,KDA,gold_per_min,cs_per_min
2496,279,427,5Kid,77,Asura,ASR,Bot,False,1440,Yasuo,4,2,0,0,0,0,0,3,0,193,7472,11,96437,972,7639,8,0,0,0.000,311.333333,8.041667
9152,2041,472,Wink,85,eStar Gaming,ES,Bot,False,1262,Senna,7,0,0,1,0,0,1,8,2,21,5131,9,31389,8183,12693,9,0,1,0.375,243.946117,0.998415
10653,1080,265,Viper,51,Griffin,GRF,Bot,False,1941,Senna,7,3,0,0,0,0,1,5,4,29,7791,12,62045,14078,18235,39,0,1,1.000,240.834621,0.896445
12652,1919,570,Blazes,49,GAM Esports,GAM,Bot,True,1972,Senna,16,9,3,1,2,2,1,0,11,32,8926,15,67811,13490,15184,36,0,1,12.000,271.582150,0.973631
13199,1502,681,Venzer,129,Unicorns Of Love Sexy Edition,USE,Bot,False,1984,Senna,5,0,0,1,1,0,1,2,3,27,7828,13,82307,16395,15900,22,0,1,2.000,236.733871,0.816532
14522,2036,1171,JamesPeke,198,Vega Squadron,VEG,Bot,False,1405,Karma,13,0,0,1,0,0,1,3,5,15,5349,11,29261,7958,10347,16,0,1,2.000,228.427046,0.640569
14714,2159,737,Rafitta,140,UCAM Esports Club,UCAM,Bot,False,1976,Senna,1,1,0,1,0,0,0,2,1,25,6719,12,33631,11880,10891,23,0,0,0.500,204.018219,0.759109
14933,387,360,y4,66,Victory Five,V5,Bot,True,2097,Bard,21,8,1,4,1,0,1,1,15,34,8509,14,22240,8212,11028,69,0,1,16.000,243.462089,0.972818
17834,1714,991,KreshtDoo,182,Azules Esports,UCH,Bot,False,2859,Yuumi,8,9,1,0,2,3,1,3,5,16,11207,16,18079,7354,5754,48,0,1,2.000,235.194124,0.335782
20089,1965,582,BigKoro,109,Saigon Buffalo,SGB,Bot,False,1148,Senna,9,0,0,0,0,0,1,4,7,8,4570,8,17852,3735,6501,12,0,1,2.000,238.850174,0.418118